## Mini Project-2

In [5]:
import pandas as pd
df= pd.read_excel(r"C:\Users\Lenovo\Downloads\weather_data_XL.xlsx")
df

        Date        City  Temperature_C  Humidity_% Condition
0 2025-01-01    Hyderbad             28          60     Sunny
1 2025-01-02    Hyderbad             29          62     Sunny
2 2025-01-03    Hyderbad             30          58    Cloudy
3 2025-01-04    Hyderbad             31          55    Cloudy
4 2025-01-05    Banglore             32          57     Rainy
5 2025-01-06    Banglore             33          59     Rainy
6 2025-01-07    Banglore             34          61     Sunny
7 2025-01-08    Banglore             32          63    Cloudy
8 2025-01-09  Vijayawada             31          64     Rainy
9 2025-01-10  Vijayawada             29          62     Sunny

In [6]:
df.Temperature_C.min()

28

In [7]:
df.Temperature_C.max()

34

In [8]:
df.Temperature_C.mean()

np.float64(30.9)

In [9]:
df.Temperature_C.std()

1.911950719959998

In [10]:
df.Temperature_C.std()

1.911950719959998

In [11]:
df.Temperature_C.count()

np.int64(10)

In [12]:
df.Temperature_C.sum()

np.int64(309)

In [13]:
df.Temperature_C.describe()

count    10.000000
mean     30.900000
std       1.911951
min      28.000000
25%      29.250000
50%      31.000000
75%      32.000000
max      34.000000
Name: Temperature_C, dtype: float64